{
  "name": "TenancityApi",
  "address": ":3333",
  "debug": true,
  "autoMigrate": false,
  "version": "1.0.0",
  "mail": {
    "host": "mailtrap.io",
    "port": 33004,
    "user": "user1",
    "pass": "pass1",
    "from": "admin@panda.com",
    "to": "panda@panda.com"
  },
  "databases": {
    "fn":
    {
      "name": "Tenancity",
      "username": "root",
      "password": "",
      "host": "127.0.0.1",
      "port": 3306
    },
    "logs":
    {
      "name": "Tenancity_logs",
      "username": "root",
      "password": "",
      "host": "127.0.0.1",
      "port": 3306
    }
  }
}
